/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
Font-family: "ExpletusSansRegular";
src: url("../fonts/ExpletusSans-Regular.ttf");
Font-weight: 100;  
Font-size: 100;

}

@font-face {
Font-family: "ExpletusSansBold";
src: url("../fonts/ExpletusSans-Bold.ttf");
Font-weight: 400;
Font-size: 300;

}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
Font-family: "ExpletusSansBold";
  
}

li:first-of-type p {
Font-family: "ExpletusSansRegular";
  

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
Font-family: "ExpletusSansBold";
Font-size: 2em;

  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
Font-family: "Montser";
src: url("../fonts/Montserrat-Thin.ttf");
Font-weight: thin;
 
}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  Font-family: "Montser";
  Text-transform: uppercase;
  Font-size: 3em;
  line-height: 1em;
  text-shadow:0 0 0.40em var(--shadow);

  
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
Font-family: "Saira";
src: url("../fonts/Saira_Condensed-Bold.ttf");
Font-weight: bold;
font-size: 700;
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
  

}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family:"saira";
color: var(--color);
Font-size: 2.5em;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 5px;
transform:skewY(-12deg);
text-shadow:0.1em 0.1em 0 var(--shadow);

  
}